@import "./variables/colorTheme";
@import "./variables/fonts";
@import "./listingModal.scss";

.navbar, #btn, #loginRegisterBtn, #registerBtn, #avatarBtn,
#closeBtn, footer {
  background-color: $primary;
}

#closeBtn, footer {
  background-color: $secondary;
}

.footer-container {
  color: white;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;

  &:hover, &:focus {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }
}

#fullName, #email, #subject, #message, #itemName, #itemDescription, #itemPrice, #itemTags, #newPostImageInput {
  background-color: $background-white;
  border-radius: 1rem;
}
